In [44]:
def read_budget():
    url = os.environ.get('BUDGET_URL')
    sheet_id = os.environ.get('BUDGET_SHEETID')
    tab_id = os.environ.get('BUDGET_TABID')
    path = f'{url}{sheet_id}/export?format=csv&gid={tab_id}'
    df = pd.read_csv(path, usecols=[0, 1], names=['cat', 'budget'],
                     skiprows=27, skipfooter=35, engine='python',
                     converters={'cat': str.lower})
    return df


def read_monzo():
    url = os.environ.get('MONZO_URL')
    sheet_id = os.environ.get('MONZO_SHEETID')
    tab_id = os.environ.get('MONZO_TABID')
    path = f'{url}{sheet_id}/export?format=csv&gid={tab_id}'
    df = pd.read_csv(path, dayfirst=True,
                     parse_dates={'date': ['Date', 'Time']})

    new_names = {'date': 'date', 'name': 'merch', 'category': 'cat',
                 'amount': 'amount', 'notes_and_#tags': 'note',
                 'description': 'desc', 'category_split': 'split',
                 'transaction_id': 'id', 'type': 'type'}
    df.columns = df.columns.str.lower().str.replace(' ', '_')
    df = df[new_names].rename(columns=new_names)

    strs = df.select_dtypes('object')
    df[strs.columns] = strs.apply(lambda x: x.str.lower())

    df['month'] = df.date.dt.to_period('M').dt.to_timestamp()
    df['amount'] = df.amount.mul(-1)

    mask = (
        (df.cat.eq('transfer')) |
        (df.type.eq('pot transfer')) |
        (df.note.eq('fgtofg'))
    )
    df.loc[mask, 'cat'] = 'transfer'

    return df

In [53]:
month = '2020-10'

monzo = (
    read_monzo()
    .loc[lambda df: df.month.eq(month)]
    .rename(columns={'amount': 'actual'})
    .pivot_table(values='actual', index='cat', aggfunc='sum')
    .reset_index()
)
df = (
    monzo
    .merge(read_budget(), how='right').fillna(0)
    .melt(id_vars=['cat'], var_name='var', value_name='amount')
    .sort_values(['var', 'amount'], ascending=True)
)
df

                  cat     var  amount
8             therapy  actual    0.00
9            holidays  actual    0.00
10          education  actual    0.00
11              books  actual    0.00
12  clothes and shoes  actual    0.00
13     personal care   actual    0.00
14          household  actual    0.00
15             other   actual    0.00
6           transport  actual    0.10
1          eating out  actual    9.25
2       entertainment  actual   11.87
7       work expenses  actual   32.16
5       subscriptions  actual   42.17
3           groceries  actual  288.87
4              health  actual  309.11
0               bills  actual  798.00
23      work expenses  budget    0.00
24            therapy  budget    0.00
26          education  budget    0.00
30          household  budget    0.00
31             other   budget    5.00
22          transport  budget   10.00
21      subscriptions  budget   13.00
27              books  budget   20.00
17         eating out  budget   30.00
18      entertainment  budget   30.00
29     personal care   budget   30.00
28  clothes and shoes  budget   50.00
25           holidays  budget  200.00
19          groceries  budget  300.00
20             health  budget  305.00
16              bills  budget  785.00

In [50]:
read_budget()

                  cat  budget
0               bills   785.0
1           groceries   300.0
2              health   305.0
3             therapy     0.0
4          eating out    30.0
5       subscriptions    13.0
6           transport    10.0
7            holidays   200.0
8       work expenses     0.0
9           education     0.0
10              books    20.0
11  clothes and shoes    50.0
12      entertainment    30.0
13     personal care     30.0
14          household     0.0
15             other      5.0