In [55]:
import os 
import pandas as pd

import plotly.express as px
from IPython.display import HTML

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)


ROOTDIR = os.path.dirname(os.getcwd())
DATADIR = os.path.join(ROOTDIR, 'data')

In [63]:
def load_data():
    url = 'https://docs.google.com/spreadsheets/d/'
    sheet_id = '1N9obnCF3fdjq2sOL0uvkVhbhpmZFOtkssXjCdTGfJak'
    tab_id = '1646235209'
    path = f'{url}{sheet_id}/export?format=csv&gid={tab_id}'
    return pd.read_csv(path, parse_dates={'date': ['Date', 'Time']}, dayfirst=True)

df = load_data()
df.head()

,date,Transaction ID,Type,Name,Emoji,Category,Amount,Currency,Local amount,Local currency,Notes and #tags,Address,Receipt,Description,Category split
0,2018-11-11 11:45:52,tx_00009ceGW7oBS9iQEHznxB,Faster payment,GUNZINGER,NaN,General,200.00,GBP,200.00,GBP,FGtoFG,NaN,NaN,FGtoFG,NaN
1,2018-11-11 11:52:40,tx_00009ceH7gJC93F2Z8eJ7Z,Faster payment,Fabian Gunzinger,NaN,General,-200.00,GBP,-200.00,GBP,P9811069,NaN,NaN,P9811069,NaN
2,2018-11-18 16:19:23,tx_00009ctAWUp6CRG1sMr9uL,Card payment,Waitrose & Partners,üçè,Groceries,-2.99,GBP,-2.99,GBP,NaN,116-128 North End Road,NaN,WAITROSE LONDON GBR,NaN
3,2018-11-18 16:21:02,tx_00009ctAfeYPOFHTYTDFab,Card payment,Tesco,üçè,Groceries,-5.05,GBP,-5.05,GBP,NaN,112 North End Road,NaN,TESCO STORES 5103 HAMMERSMITH GBR,NaN
4,2018-11-19 05:35:02,tx_00009cuJX410Rx7cf2Wo0v,Card payment,Transport for London,üöá,Transport,-12.40,GBP,-12.40,GBP,"Travel charge for Monday, 19 Nov",NaN,NaN,TfL Travel Charge TFL.gov.uk/CP GBR,NaN

In [60]:
df = pd.read_parquet(os.path.join(DATADIR, 'clean.parquet'))
df.split.value_counts()

general:-110.00,groceries:-300.00    1
Name: split, dtype: int64

In [61]:
mask = (df.ym.eq('2020-08')) & (df.name.eq('spotify'))

df[mask]

,date,desc,cat,amount,name,note,id,split,ym
1917,2020-08-01 09:15:30,paypal *spotify 35314369001 gbr,expenses,-14.99,spotify,None,tx_00009qmqrmfo7hlaqwzrz4,None,2020-08-01
2049,2020-08-02 09:15:29,paypal *spotify 35314369001 gbr,expenses,-14.99,spotify,None,tx_00009rp6mp27ionpziemzg,None,2020-08-01
2145,2020-08-03 09:15:31,paypal *spotify 35314369001 gbr,expenses,-14.99,spotify,None,tx_00009sndgsclq7q9xfva6d,None,2020-08-01
2191,2020-08-04 09:15:29,paypal *spotify 35314369001 gbr,expenses,-14.99,spotify,None,tx_00009tptceawihsef6tn8t,None,2020-08-01
2217,2020-08-05 09:15:29,paypal *spotify 35314369001 gbr,expenses,-14.99,spotify,None,tx_00009upfe6gex9pxladn18,None,2020-08-01
2243,2020-08-06 09:15:29,paypal *spotify 35314369001 gbr,expenses,-14.99,spotify,None,tx_00009vruxszt92gur0behx,None,2020-08-01
2298,2020-08-07 09:15:28,paypal *spotify\4th floor 25 argyll street\353...,expenses,-14.99,spotify,None,tx_00009ws5x5ndzoiolesjsk,None,2020-08-01
2381,2020-08-08 09:15:29,paypal *spotify 35314369001 gbr,subscriptions,-14.99,spotify,None,tx_00009xulshr4fk9xtssffj,None,2020-08-01

# Resources

- Using Plotly for Jupyter Lab and Fastpages ([link](https://colab.research.google.com/github/binnisb/blog/blob/master/_notebooks/2020-04-02-Plotly-in-lab.ipynb#scrollTo=TWW5ogvQPEk1))